.navbar-dark {
    background-color: #512DA8;
}

nav ul li
{
  margin-right: 30px;
}


.nav
{
    background-color: #e3f2fd;
}

.jumbotron
  
{
      margin-top: 50px;
      padding-top: 100px;
      background-color: #ffffff;

}
  


/**************************************************************************/
section
{
    height:600px;
}
section h2
{
    text-align: left;
    margin:60px 0 0 160px;
}
.itemdescription
{
    height:40px;
    background-color: #555;
    width:80%;
    margin: 0 100px 0 150px;
}
section ul li
{
    display: inline-block;
    margin: 10px 130px 0 0;
    color:#fff;
}


#cartitem
{
    height: 50px;
    width:100%;
    margin: 10px 350px 0 0;
}

#cartitem ul li
{
    margin: 20px 130px 0px 10px;
    color:#333;
    font-family: Celias,Helvetica;
    height: 20px;


}

#cartitem ul li button
{
    border-radius: 50px;
    border: 0.50px solid #e96125;
    font-family: Celias,Helvetica;
    font-size: 16px;
    color: #666;
    width: 25px;
    height: 25px;
}

#cartitem ul li text
{
    width: 25px;
    height: 25px;
    margin: 7px 8px 0 8px;
    font-size: 18px;

}

#subtotal
{
    width: 25px;
    height: 25px;
    font-size: 18px;
    color:#333;
    font-family: Celias,Helvetica;

}

#checkout
{
    margin : 100px 0 0 1050px;
    font-family: Celias,Helvetica;
    color: #666;
    width: 105px;
    height: 25px;
}

/* *********************************************************************** */


.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}